/*Initialize*/
li#menu-item-globus-top-switch, li#menu-item-globus-top-switch ul.globus-top-switch-submenu {
    padding:0;
    margin: 0;
}
li#menu-item-globus-top-switch ul.globus-top-switch-submenu li {
    list-style-type: none;
    display: inline-block;
}
/*Link Appearance: user can redefine */
li#menu-item-globus-top-switch ul.globus-top-switch-submenu li a {
	background: none repeat scroll 0 0 #EFEFEF;
	color: #6A6A6A;
    text-decoration: none;
    padding: 5px;
    display:inline-block;
	width: 50px;
}
/*Make the parent of sub-menu relative*/
li#menu-item-globus-top-switch ul li {
    position: relative;
}
/*sub menu*/
li#menu-item-globus-top-switch  ul.globus-top-switch-submenu {
    display:none;
    position: absolute;
    top: 30px;
    left: 0;
    /* width: 50px; */
	
}
li#menu-item-globus-top-switch:hover ul.globus-top-switch-submenu {
    display:block;
}