.globus-flag {
    height:12px;
    width:18px;
}
.globus-language-name {
    padding-left:22px;
}
/* .globus-flag span { display:none } */
.page-item-globus-menu-switch, .menu-item-globus-menu-switch {
    height:30px;
    width: 20px;
}
.page-item-globus-menu-switch a, .menu-item-globus-menu-switch a {

}
