/* Tabs */
.ui-tabs-nav {
	margin-bottom:0;
}
.ui-widget-content .ui-widget-header {
	margin-bottom:0 !important;
}
#wpglobus-wc-excerpt-tabs li.ui-state-default { 
	height:30px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	padding-top:0;
	padding-bottom:0;
}
.ui-tabs .ui-tabs-panel {
	padding-left:0;
	padding-right:0;
}
/* WP_Editor */
.wp-editor-expand #qt_content_dfw {
	font-family: dashicons !important;
	font-size:1.4em;
}
