th#wpglobus_code {
    width: 10%;
}

th#wpglobus_file {
    width: 10%;
}

th#wpglobus_flag {
    width: 10%;
}

th#wpglobus_locale {
    width: 10%;
}

th#wpglobus_language_name {
    width: 30%;
}

th#wpglobus_en_language_name {
    width: 30%;
}