.table-dummy .hidden {
    display: none;
}

th#code {
    width: 10%;
}

th#file {
    width: 10%;
}

th#flag {
    width: 10%;
}

th#locale {
    width: 10%;
}

th#language_name {
    width: 30%;
}

th#en_language_name {
    width: 30%;
}